* {
    box-sizing: border-box;
}

:root {
    --black: #0b0a0a;
    --blue: #007dc3;
    --white: #ffffff;
    --gray: #f1f6f8;
    --grayish: #dee2e6;
    --dark-gray: #ced4da;
    --red: #ff6b6b;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

::selection {
    background: var(--blue);
}

@font-face {
    font-family: morganite;
    src: url(./fonts/Morganite-Medium.ttf);
}
@font-face {
    font-family: morganite;
    src: url(./fonts/Morganite-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Grifter;
    src: url(./fonts/GRIFTER™+Bold.otf);
}
@font-face {
    font-family: 'Tommy Outline';
    src: url(./fonts/MADE\ TOMMY\ Regular\ Outline.otf);
}
@font-face {
    font-family: 'Tommy Outline';
    src: url(./fonts/MADE\ TOMMY\ ExtraBold\ Outline.otf);
    font-weight: bolder;
}

@font-face {
    font-family: Tommy;
    src: url(./fonts/MADE\ TOMMY\ Regular.otf);
    
}
@font-face {
    font-family: Tommy;
    src: url(./fonts/MADE\ TOMMY\ Bold.otf);
    font-weight: bold;
}
@font-face {
    font-family: Tommy;
    src: url(./fonts/MADE\ TOMMY\ ExtraBold.otf);
    font-weight: bolder;
}
