* {
 box-sizing: border-box;
}

#root {
    --black: #0B0A0A;
    --blue: #007DC3;
    --white: #FFFFFF;
    --gray: #F1F6F8;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}